flamingo/server/static/lib/ linguist-vendored
flamingo/plugins/*/theme/*/*/static/ linguist-vendored
flamingo/plugins/*/theme/*/static/ linguist-vendored
flamingo/plugins/*/theme/static/ linguist-vendored
flamingo/project_templates/ linguist-vendored
