.data .highlight {
    border-top: 2px solid #2881b9 !important;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0.2em !important;
}

.data .description {
    margin-left: 2em;
}
